{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
        <title>
            {% block title %}{% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}">Log Out</a>
                    {% else %}</li>
                    <li><a href="{% url "signup" %}">Sign Up</a></li>
                    <li><a href="{% url "login" %}">Log In</a></li>
                    {% endif %}
                    </ul>
                    <a href="{% url "create_receipt" %}">create</a>
            </nav>
        </header>
        <main>
            {% block content %} {% endblock content %}
        </main>
    </body>
</html>