{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
        <title>
            {% block title %}{% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    Hello, {{ user.username }} 
                <a href=" {% url 'user_logout' %}">Log Out</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign Up</a>
                <a href="{% url 'user_login' %}">Log In</a>
                {% endif %}
                <a href="{% url 'list_recipes' %}">Main page</a>
                <a href="{% url 'create_recipe' %}">Create A Recipe</a>

            </nav>
        </header>
        <main>
            {% block content %} {% endblock content %}
        </main>
    </body>
</html>