{% extends 'base.html' %}

{% block title %}
Categories
{% endblock title %}

{% block content %}
            <h1>
                Categories
            </h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in category %}
                    <tr>
                        <td> {{ data.name }} </td>
                        <td> {{ data.receipts.all|length }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock content %}
