<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url "logout" %}">Log Out</a>
            <li><a href="{% url "create_receipt" %}">Create</a></li>   
            <li><a href="{% url "category_list" %}">Categories</a></li>   
            {% else %}</li>
            <li><a href="{% url "signup" %}">Sign Up</a></li>
            <li><a href="{% url "login" %}">Log In</a></li>
            {% endif %}            
            </ul>
        </nav>
    </header>
    <main>
    <h1>Categories</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Number of Receipts</td>
            </tr>
        </thead>
        <tbody>
            {% for data in category %}
            <tr>
                <td> {{ data.name }} </td>
                <td> {{ data.category|length }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>