{% extends 'base.html' %}

{% block title %}
Categories
{% endblock title %}

{% block content %}
        <div>
            <h1>
                Create Receipt
            </h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
{% endblock %}