<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url "logout" %}">Log Out</a>
            {% else %}</li>
            <li><a href="{% url "signup" %}">Sign Up</a></li>
            <li><a href="{% url "login" %}">Log In</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Login</h1>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
        </div>
    </main>
</body>
</html>