{% extends 'base.html' %}

{% block title %}
Categories
{% endblock title %}

{% block content %}
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <td>Vendor</td>
                <td>Total</td>
                <td>Tax</td>
                <td>Date</td>
                <td>Category</td>
                <td>Account</td>
            </tr>
        </thead>
        <tbody>
            {% for data in receipt %}
            <tr>
                <td> {{ data.vendor }} </td>
                <td> {{ data.total }} </td>
                <td> {{ data.tax }} </td>
                <td> {{ data.date|date:"m/d/Y" }} </td>
                <td> {{ data.category.name }} </td>
                <td> {{ data.account.name }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}