<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url "logout" %}">Log Out</a>
                
            {% else %}</li>
            <li><a href="{% url "signup" %}">Sign Up</a></li>
            <li><a href="{% url "login" %}">Log In</a></li>
            {% endif %}            
            <li><a href="{% url "create_receipt" %}">Create</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <td>Vendor</td>
                <td>Total</td>
                <td>Tax</td>
                <td>Date</td>
                <td>Category</td>
                <td>Account</td>
            </tr>
        </thead>
        <tbody>
            {% for data in receipt %}
            <tr>
                <td> {{ data.vendor }} </td>
                <td> {{ data.total }} </td>
                <td> {{ data.tax }} </td>
                <td> {{ data.date }} </td>
                <td> {{ data.category.name }} </td>
                <td> {{ data.account.name }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>