<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url "logout" %}">Log Out</a>
            {% else %}
            <a href="{% url "signup" %}">Sign Up</a>
            <a href="{% url "lo" %}">Sign Up</a>
            {% endif %}
        </nav>
        <div>
            <h1>Signup</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Signup</button>
            </form>
        </div>
    </main>
</body>
</html>