<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Login</h1>
        <form method="POST">
           {% csrf_token %}
           {{ form.as_p }}
           <button>Login</button>
        </form>
    </main>
</body>
</html>